body{
    background-color: #FFF2F1;
    color: #1F2937;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
}
.dark-mode {
    background-color: #1F2937;
    color: #FFFFFF;
}
.title{
    color: #1F2937;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: italic;
}
button{
    background-color: #A09BE7 ;
    font-weight: 500;
    padding: 8px;
    border-radius: 10px;
    border: transparent;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1rem;
}
button:hover{
    background-color: #928afc;
    cursor: pointer;
}
button:active{
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}
a{
    color: #928afc;
    text-decoration: none;
}
/* a:hover{
    background-color: #A09BE7; underline that moves
    color: #B0FF92;
} */
nav{
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav img{
    cursor: pointer;
    :active{
        transform: rotate(360deg);
        transition: transform 0.5s ease-in-out;
    }
}
nav .buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}
#flash{
    background-color: #A09BE7;
    font-family: 'Comic Sans Ms';
    font-size: 1rem;
    padding: 10px;
    position: fixed;
    top: 0;
    width: fit-content;
    border-radius: 5px;
    animation: opacityFade 6s forwards;
}
@keyframes opacityFade {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}
#addQuestionText{
    position: relative;
}
#addQuestionButton{
    float: right;
    top: 0;
    position: relative;
}