input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}
.outer_form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #FFF2F1;
}
.form{
    min-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 500px) {
    .form {
        min-width: 350px;
    }
    
}