<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/assets/favicon.ico">
    <title>T'sAssist</title>
</head>
<body>
    <nav>
        <h1>T'sAssist</h1>
        <div class="buttons">
            <ul>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/signin">Sign In</a></li>
            </ul>
            <br>
            <img class="mode" src="../static/assets/sun.png" onclick="toggleMode()" />
        </div>
    </nav>
    <main>
        <section class="paper">
            <input type="file" required placeholder="submit questions"/>
            <input type="text" required placeholder="name of paper"
        </section>
    </main>
</body>
<script src="../static/js/main.js"></script>
</html>