<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="icon" href="/static/assets/favicon.ico">
    <title>TsAssist</title>
</head>
<body> 
    <!--
        Dzina, malikisi, kagawidwe, kavutidwe
        value ya ma input ku logic ya paper gen
    -->
    {% with messages = get_flashed_messages()%} 
        {% if messages%}
            {% for message in messages%}
                <p id="flash">{{message}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <nav>
        <h1>TsAssist</h1>
        <div class="buttons">
            <ul>
                <li><a href="/signedin">Home</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
            <br>
            <img id="mode" src="../static/assets/moon.png" onclick="toggleMode()" />
        </div>
    </nav>
    <main> 
        <h2>Exam Paper Generation</h2>
        <div class="details">
            <div class="text">
                <p>
                    There are three options for generating a question paper:
                </p>
                    <ol>
                        <li>Upload Questions as document</li>
                        <li>Enter Questions Manually</li>
                        <li>Upload Document/Notes</li>
                    </ol>
                <p>
                    Choose the option that best suits your needs and follow the instructions provided.</p>
                    <p>After uploading, specify the total marks and any specific requirements for the paper generation. </p>
                    <p>Click on "Generate Paper" to create a customized exam paper based on your inputs. </p>
                </p>
            </div>
            <form class="form" action="{{ url_for('paperDetails')}}" method="post" enctype="multipart/form-data">
                <input type="file" accept=".png, .jpg, .jpeg" required name="logo" id="logo"/><br>
                <input name="schoolName" type="text" required placeholder="school name" /><br>
                <input name="subjectName" type="text" required placeholder="subject" /><br>
                <input name="paperName" type="text" required placeholder="name of paper" /> <br>
                <input name="totalMarks" type="number" required placeholder="total marks" /> <br>
                <textarea name="instructions" rows="4" cols="50" placeholder="Enter any specific instructions for the paper here"></textarea> <br>
                <button type="submit">Save Details</button>
                <p><b>PLEASE ENSURE YOU SAVE DETAILS BEFORE PROCEEDING</b></p>
            </form>
        </div>
        <details>
            <summary>1. Upload Questions as document</summary>
            <div class="details">
                <p>
                    This option is for generating a question paper from an uploaded question bank<br>
                    Please upload your question bank as a spreedsheet document<br>
                    If in word document, please make sure the questions are structured in a table format<br>
                    In both cases, ensure the column order is paper name, question text, question type i.e essay, and marks allocated to question.<br>
                    Incase of MCQs, please ensure there are separate columns for all options, marks column should be last<br>
                </p>
                <form class="form" method="post" action="/bankPaperGen" enctype="multipart/form-data">
                    <input type="file" accept=".xsl, .docx, .doc, .sxsl" required placeholder="submit questions" name="questionBank"/> <br>
                    
                    <select id="questionType" name="questionType">
                        <option value="" disabled selected>Specify marks distribution</option>
                        <option value="mcq">MCQ</option>
                        <option value="short answer">Short Answer</option>
                        <option value="long answer">Long Answer</option>
                    </select> <br>
                    <input type="number" required placeholder="number of questions" id="numQuestions" /> <br>
                    <button type="submit">Generate paper</button>
                </form>
            </div>
        </details>
        <br>

        <details>
            <summary>2. Enter Questions Manually</summary>
            <div class="details">
                <p>
                    This option is for generating a question paper from manually entered questions<br>
                    You can enter your questions directly into the provided text area.<br>
                    Ensure that you format your questions clearly, specifying the question type i.e long answer and the marks allocated for each question.<br>
                    Cross check your question is to your liking before clicking "+" to add next question
                </p>
                <form class="form" method="post" action="/addQuestion" enctype="multipart/form-data">
                    <!-- mafunso abwere ngati list kupangidwa append ku javascript object makey question, marks, type -->
                    <textarea id="addQuestionText" rows="10" cols="50" placeholder="Enter your question here" name="instructions"></textarea><br>
                    <input type="text" id="questionType" placeholder="question type e.g mcq, short answer, long answer" name="questionType"/><br>
                    <input type="number" id="questionMarks" placeholder="marks allocated to question" name="questionMarks"/><br>
                    <button onclick="addQuestion()" id="addQuestionButton"><b>+</b></button> 
                    <button type="submit">Generate paper</button>
                </form>
            </div>    
        </details>
        <br>

        <details>
            <summary>3. Upload Document/Notes</summary>
            <div class="details">
                <p>
                    This option is for generating a question paper from a given document or notes<br>
                    You can upload your document in formats such as PDF, Word, or plain text.<br>
                    Ensure that your document is comprehensive and covers all topics you wish to include in the generated paper. <br>
                </p>
                <form class="form">
                    <input type="file" required placeholder="submit document"/> <br>
                    <input type="text" id="questionType" placeholder="question type e.g mcq, short answer, long answer"/><br>
                    <input type="number" required placeholder="number of questions" id="numQuestions" /> <br>
                    <button onclick="addSection()" id="addSectionButton"><b>+</b></button> 
                    <button onclick="docPaperGen()">Generate paper</button>
                </form>
            </div>
        </details>
        <br>                    
    </main>
</body>
<script src="../static/js/main.js"></script>
</html>