<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subjectName }} - Preview</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="container">
        <img src="">
        <h1>{{ subjectName }}</h1>
        <p>{{ data.paperName }}</p>
        <p>{{ data.questionType }}</p>
        
        <hr>
        <!-- 
            funso ili yonse ili ndi body,marks,type
            list of dictionaries
        -->
        <div class="content">
            {% for ql in questionList %}
                {%for k,v in ql.items() %}
                    <div style="display: grid; grid-template-columns: repeat(2,1fr);">
                        <p>k</p>
                        <p>v</p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <hr>

        <a href="{{ url_for('index') }}">Back to home</a>
    </div>
</body>
</html>
