<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/assets/favicon.ico">
    <title>TsAssist</title>
</head>
<body>
    <nav>
        <h1>TsAssist</h1>
        <div class="buttons">
            <ul>
                <li><a href="/PaperGenReq">Generate Paper</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
            <br>
            <img id="mode" src="../static/assets/moon.png" onclick="toggleMode()" />
        </div>
    </nav>
    <main>
        <section class="hero">
            <h1>TsAssist</h1>
            <p>
                Welcome to your Online Teaching Assistant, {{userName}} designed to make your teaching tasks easier.
                Simplify your teaching journey with tools that help you<br>
                create exam papers, exercises, and assignments effortlessly <br>
                while balancing difficulty using Bloom’s<br>
                Spend less time on admin tasks, and more time inspiring your students!
            </p>
            <a   href="/signup"><button>Get Started</button></a>
        </section>
        <section class="features">
            <h2>Features</h2>
            <ul class="featureList">
                <li>
                    <h3>Auto Paper Generation</h3>
                    <p>
                        Generate exams tailored to your curriculum and student needs.<br>
                        Optimized for randomized selection (so papers are unique each time).
                    </p>
                    <img src="../static/assets/arrow.png" alt="More Information" />
                </li>
                <li>
                    <h3>Question Banks</h3>
                    <p>
                        Add, edit, and delete questions.
                        Categorize by subject, topic, difficulty, marks, question type (MCQ, short answer, long answer)
                    </p>
                    <img src="../static/assets/arrow.png" alt="More Information" />
                </li>
                <li>
                    <h3>Paper Management</h3>
                    <p>
                        Save generated papers.<br>
                        Export as PDF/Word.
                    </p>
                    <img src="../static/assets/arrow.png" alt="More Information" />
                </li>
                <li>
                    <h3>Bloom's Level Tagging</h3>
                    <p>
                       Questions tagged with its Bloom's level.<br>
                       Allow filtering by Bloom's level during paper generation.
                    </p>
                    <img src="../static/assets/arrow.png" alt="More Information" />
            </ul>
        </section>
        <section class="footer"></section>
    </main>
</body>
<script src="../static/js/main.js"></script>
</html>