<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="icon" href="/static/assets/favicon.ico">
    <title>TsAssist</title>
</head>
<body> 
    <!--
        Dzina, malikisi, kagawidwe, kavutidwe
        value ya ma input ku logic ya paper gen
    -->
    <nav>
        <h1>TsAssist</h1>
        <div class="buttons">
            <ul>
                <li><a href="/signedin">Home</a></li>
                <li><a href="/PaperGenReq">Paper Gen</a></li>
            </ul>
            <br>
            <img id="mode" src="../static/assets/moon.png" onclick="toggleMode()" />
        </div>
    </nav>
    <main>
        <h2>Settings</h2>
        <p>
            Hello, {{userName}}
        </p>
        <form class="form">
            <input type="text" required placeholder="Enter your school name" name="schoolName"/><br>
            <input type="file" accept=".png, .jpg, .jpeg" required placeholder="Upload school logo" name="schoolLogo"/> <br>
            <input type="text" required placeholder="subject" name="subject"/><br>
            <input type="text" required placeholder="name of paper" name="paperName"/> <br>
            <input type="number" required placeholder="total marks" name="totalMarks"/> <br>
            <textarea rows="4" cols="50" placeholder="Enter any specific instructions for the paper here"></textarea> <br>        
            <button type="submit">Save Details</button>
        </form> 
    </main>
</body>
<script src="../static/js/main.js"></script>
</html>